<%- include("parcels/header"); -%>


<h1>Compose</h1>

    
<form action="/compose" method="post">
    <div class="form-group ">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control">
        
    </div>
    
    <div class=" form-group">
        <label for="blog" class="form-label">Blog Post</label>
        <textarea name="blog" class="form-control" id="blog"  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Publish</button>
    
    
    
</form>



<%- include("parcels/footer"); -%>